
@{
    ViewBag.Title = "ادمین";
}

<h2>ادمین :</h2>
<p></p>
<div class="row container">
    <a class="btn btn-success" href="/admin/pages/">صفحات</a>
    <a class="btn btn-success" href="/admin/pagegroups/">گروه ها</a>
</div>