@{
    ViewBag.Title = "خانه";
}


@Html.Action("Slider","Home")
<!-- last news -->
<section class="last-news-section border-radius margin-top-60">
    @Html.Action("LastPages","Home")
</section>
<!-- End last news -->
