@model CMS.DataLayer.PageGroup

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />

<h3>آیا از حذف "@Model.GroupTitle" مطمئن هستید ؟</h3>
<div>
    <div class="row container center-block">
        <p style="font-size: 1.75rem">
            @Html.DisplayNameFor(model => model.GroupTitle)
             : 
            @Html.DisplayFor(model => model.GroupTitle)
        </p>

    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
        </div>
    }
</div>
