@model IEnumerable<CMS.DataLayer.PageGroup>

@{
    ViewBag.Title = "گروه ها";
}

<h2>گروه ها</h2>

<div class="row container">
    <a class="btn btn-success" id="btnNewGroup">افزودن گروه جدید</a>
    <a class="btn btn-warning" href="/admin">برگشت به ادمین</a>
</div>
<br/>
<table class="table">
    <tr>
        <th>
            عنوان گروه
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GroupTitle)
            </td>
            <td>
                <a class="btn btn-sm btn-warning" onclick="editGroup(@item.GroupID)">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-sm btn-danger" onclick="deleteGroup(@item.GroupID)">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>

<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel"></h1>
            </div>
            <div class="modal-body" id="ModalBody">

            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/modal.js"></script>
    <script>
        $("#btnNewGroup").click(function () {

            $.get("/Admin/PageGroups/Create", function (result) {

                $("#Modal").modal();
                $("#ModalLabel").html("افزودن گروه جدید");
                $("#ModalBody").html(result);

            });

        });

        function editGroup(id) {
            $.get("/Admin/PageGroups/Edit/" + id, function (result) {

                $("#Modal").modal();
                $("#ModalLabel").html("ویرایش گروه");
                $("#ModalBody").html(result);

            });
        }

        function deleteGroup(id) {
            $.get("/Admin/PageGroups/Delete/" + id, function (result) {

                $("#Modal").modal();
                $("#ModalLabel").html("حذف گروه");
                $("#ModalBody").html(result);

            });
        }
    </script>
}
