@using CMS.Core.Convertors
@model IEnumerable<CMS.DataLayer.Page>
<header><i class="icons icon-star"></i> <h3> پر بازدیدترین صفحات </h3></header>
<ul>
    @foreach (var item in Model)
    {
        <li class="row">
            <div class="col-md-12">
                <img class="border-radius" style="width: 100%" src="/PageImage/@item.ImageName">
            </div>
            <div class="col-md-12">
                <h2> <a href="/pages?pageid=@item.PageID">@item.Title</a></h2>
                <span><i class="fa fa-calendar"> </i> انتشار : @item.CreateDate.ToShamsi()</span>
                <br/>
                <span><i class="fa fa-eye"> </i> بازدید : @item.Visit </span>
            </div>
        </li>
    }
</ul>
